{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://ianuscapital.typeform.com/to/mmq3U6bi" role="button">⚡️ Contattare Giacomo</a>
      <p class="meta">Ianus Capital è un brand di Giacomo Sepe >>> <a href="https://giacomosepe.com">Alla pagina personale</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Credito d'imposta R&S e Design</h2>
        <p>Costruiamo i dossier necessari per accedere agli incentivi per ridurre il costo delle attività Ricerca e Sviluppo, innovazione dei processi e del design</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Credito d'Imposta Formazione 4.0</h2>
        <p>Costruiamo i dossier necessari per accedere agli incentivi di sostegno alle attività di formazione legata alle tematiche del piano Transizione 4.0</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Venture Capital</h2>
        <p>Individuiamo e negoziamo l'investimento di capitali privati nei progetti di sviluppo di nuovi prodotti e mercati</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">M&A</h2>
        <p>Costruiamo le pratiche per ottenere risorse finanziarie regionali a disposizione delle imprese per l'acquisizione di altre aziende</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Forme di debito incentivato</h2>
        <p>Identifichiamo e negoziamo forme di debito alternativo, quali debito privato, basket bond, tasso agevolato garantito da MCC / SACE</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">E-commerce</h2>
        <p>Individuiamo finanziamenti straordinari per lo sviluppo aziendale attraverso la creazione di piattaforme di ecommerce / marketplaces</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
