{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://ianuscapital.typeform.com/to/mmq3U6bi" role="button">⚡️ Per scoprire come</a>
      <p class="meta">Ianus Capital è un brand di Giacomo Sepe >>> <a href="https://giacomosepe.com">Alla pagina personale</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row box-row justify-content-center text-center">
      <div class="col-lg-5">
        <img src="images/spaceship1.png" height="90" alt="Crediti d'imposta icon">
        <h2 class="h4">Credito d'imposta R&S e Formazione</h2>
        <p>Con un network di specialisti, ci occupiamo di realizzare le pratiche necessarie per ottenere gli incentivi.</p>
      </div>
      <div class="col-lg-5">
        <img src="images/planet-blue.png"  height="90" alt="finanza agevolata icon" >
        <h2 class="h4">Finanza agevolata</h2>
        <p>Con la partnership con Valdani e Vicari possiamo individuare e ottenere le risorse finanziarie pubbliche disponibili</p>
      </div>
      <div class="col-lg-5">
        <img src="images/rocket-large.png"  height="90" alt="Venture capital icon">
        <h2 class="h4">Venture Capital</h2>
        <p>Per i progetti che hanno bisogno di equity posso attingere a un network consolidato di investitori sia istituzionali che individuali</p>
      </div>
    </div>
    <div class="row box-row justify-content-center text-center ">
       <div class="col-lg-5">
        <img src="images/planet.png" height="90" alt="Product management icon">
        <h2 class="h4">Product Management</h2>
        <p>Quando occorre un manager che abbia comprensione del mercato e capacità gestionali, intervengo direttametne come CEO/COO del prodotto</p>
      </div>
      <div class="col-lg-5">
        <img src="images/alien-ship.png" height="90" alt="Investimento">
        <h2 class="h4">Investimento</h2>
        <p>Valuto di investire accanto agli azionisti per partecipare all'equity dei progetti che gestisco come CEO</p>
      </div>
      <div class="col-lg-5">
        <img src="images/rocket-small.png" height="90" alt="Digital process">
        <h2 class="h4">Digital processes</h2>
        <p>E' fondamentale che i progetti che seguo siano monitorati e collegati alle attività aziendali, attraverso processi chiari e ripetibili</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
